@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: Hero styles */
.hero {
  @apply flex flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.hero__image-container {
  @apply flex justify-end items-end w-full h-[600px] relative;
}




/* END: Hero styles */